--readme README.md
--title 'ToxBank Investigation Documentation'
--charset utf-8
*.rb templates/*.sparql templates/investigation/*.sparql template/investigation/characteristics_by_investigation.sparql - README ChangeLog VERSION LICENSE SPARQL-Templates

